<h2 class="ui center aligned icon header">
  <i class="inverted circular teal coffee icon"></i>
  Message Me
</h2>
<br><br>
<div class="ui container">
  <div class="ui center two column grid">
    <div class="twelve wide column">
      <div class="ui fluid raised card chatbox">
        <div class="content">
          <div class="ui small feed">
            <h4 class="ui header">Message feed</h4>
              <%= render @messages %>
          </div>
        </div>
      </div>
    </div>

    <div class="four wide column">
      <div class="ui fluid raised card chatbox">
        <div class="content">
          <div class="ui inverted vertical menu">
            <a class="active item">
              Online
            </a>
            <a class="item">
              Vangama
            </a>
            <a class="item">
              Ntlakuko
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
